<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cz-cz">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>InsuranceApp</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index">insuranceApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="index">Domů</a></li>
                    <li class="nav-item"><a th:if="${session.loggedInUser == null}" class="nav-link" href="reference">Reference</a></li>
                    <li class="nav-item"><a th:if="${session.loggedInUser != null}"class="nav-link" href="udalosti">Moje události</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Uživatel</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a th:if="${session.loggedInUser == null}" class="dropdown-item" href="prihlaseni">Přihlásit</a></li>
                            <li><a th:if="${session.loggedInUser != null}" class="dropdown-item" href="/logout">Odhlásit</a></li>
                            <li><a th:if="${session.loggedInUser != null}" class="dropdown-item" href="/myProfile">Můj Profil</a></li>
                            <li><a th:if="${session.loggedInUser == null}" class="dropdown-item" href="registrace">Registrovat</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="panel-heading text-center">
                    <h1>Přihlášení uživatele</h1>
                </div>
                <form action="prihlaseni" method="post"> <!-- Zde můžete nastavit atributy action a method podle potřeby -->
                    <div class="form-group text-center mt-2" >
                        <label for="Email">email</label>
                        <input type="text" class="form-control" style="width: 50%; margin: 0 auto;" placeholder="zadejte váš email" id="Email" name="Email">
                    </div>
                    <div class="form-group text-center mt-2">
                        <label for="Password">Heslo</label>
                        <input type="password" class="form-control" style="width: 50%; margin: 0 auto;" placeholder="zadejte vaše heslo" id="Password" name="Password">
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${loginError}" th:text="${loginError}">
                    </div>
                    <input type="submit" class="btn btn-primary login">
                </form>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
