<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cz-cz">
<head>
    <meta charset="UTF-8">
    <title>InsuranceApp</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index">insuranceApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="index">Domů</a></li>
                    <li class="nav-item"><a th:if="${session.loggedInUser == null}" class="nav-link" href="reference">Reference</a></li>
                    <li class="nav-item"><a th:if="${session.loggedInUser != null}" class="nav-link" href="pojisteni">Pojištění</a></li>
                    <li class="nav-item"><a th:if="${session.loggedInUser != null}"class="nav-link" href="udalosti">Moje události</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Uživatel</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a th:if="${session.loggedInUser == null}" class="dropdown-item" href="prihlaseni">Přihlásit</a></li>
                            <li><a th:if="${session.loggedInUser != null}" class="dropdown-item" href="/logout">Odhlásit</a></li>
                            <li><a th:if="${session.loggedInUser != null}" class="dropdown-item" href="/myProfile">Můj Profil</a></li>
                            <li><a th:if="${session.loggedInUser == null}" class="dropdown-item" href="registrace">Registrovat</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Seznam Pojištění</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Typ Pojištění</th>
                <th>Hodnota Pojištění</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="insurance : ${insurances}">
                <td th:text="${insurance.insuranceType}"></td>
                <td>
                    <form th:action="@{/upravit-pojisteni}" method="post">
                        <select name="insuranceValue" th:value="${insurance.insuranceValue}">
                            <option value="50000" th:selected="${insurance.insuranceValue == 50000}">50000</option>
                            <option value="100000" th:selected="${insurance.insuranceValue == 100000}">100000</option>
                            <option value="200000" th:selected="${insurance.insuranceValue == 200000}">200000</option>
                            <option value="400000" th:selected="${insurance.insuranceValue == 400000}">400000</option>
                        </select>
                        <input type="hidden" name="id" th:value="${insurance.insuranceID}" />
                        <input type="submit" value="Upravit">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>